.container {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 40px 0;
}

/* TABLET */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    padding: 50px 0;
  }
}

/* DESKTOP 1272*/
@media only screen and (min-width: 1272px) {
  .container {
    max-width: 1272px;
    padding: 0 16px;
  }

  .section {
    padding: 75px 0;
  }
}
