.cart-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #e8e8e2;
  background-color: var(--color-btn);
  border-radius: 30px;

  width: 38px;
  height: 38px;
  padding: 10px;
  margin-right: 14px;
}
@media only screen and (min-width: 768px) {
  .cart-icon {
    width: 42px;
    height: 42px;
    padding: 12px;
  }
}

.cart-title {
  display: flex;
  align-items: center;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;

  margin-top: 72px;
  margin-bottom: 68px;
}
@media only screen and (min-width: 768px) {
  .cart-title {
    font-size: 32px;
    margin-top: 99px;
    margin-bottom: 88px;
  }
}
@media only screen and (min-width: 1272px) {
  .cart-title {
    margin-top: 81px;
    margin-bottom: 82px;
  }
}

@media only screen and (min-width: 1272px) {
  .all-cart-content {
    display: flex;
    gap: 101px;
  }
}

.cart-container {
  display: flex;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .cart-container {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1272px) {
  .cart-container {
    width: 500px;
  }
}

.delete-all {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #010101;
  fill: #010101;
  background: transparent;
  border: none;
  position: absolute;
  top: -52px;
  right: 12px;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .delete-all {
    font-size: 16px;
    line-height: 1.25;

    top: -66px;
    right: 7px;
  }
}
@media only screen and (min-width: 1272px) {
  .delete-all {
    top: -56px;
    right: 45px;
  }
}

.delete-all:hover,
.delete-all:focus {
  background-color: transparent;
}

.delete-btn {
  position: absolute;
  top: -10px;
  right: 7px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  fill: #010101;
}
@media only screen and (min-width: 768px) {
  .delete-btn {
    top: 0px;
  }
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: transparent;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding-top: 15px;
  padding-right: 7px;
  padding-bottom: 6px;
}
@media only screen and (min-width: 768px) {
  .cart-list {
    gap: 40px;
    padding-top: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1272px) {
  .cart-list {
    gap: 40px;
    padding: 0 40px 6px 0;
  }
}
.cart-list.show-scroll {
  max-height: 465px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 768px) {
  .cart-list.show-scroll {
    max-height: 560px;
  }
}

.cart-list-item {
  display: flex;
  gap: 30px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .cart-list-item {
    gap: 40px;
  }
}

.cart-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .cart-list-item:not(:last-child) {
    padding-bottom: 40px;
  }
}

.product-img {
  width: 100px;
  height: 100px;

  padding: 18px;
  border-radius: 10px;
  background: var(--color-card-bckg);
}
@media only screen and (min-width: 768px) {
  .product-img {
    width: 120px;
    height: 120px;

    padding: 24px;
  }
}

.product-info-container {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-top: 0;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .product-name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.product-dscr {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  overflow: hidden;

  display: flex;
  /* flex-wrap: wrap; */
  gap: 8px;

  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .product-dscr {
    font-size: 14px;
    line-height: 1.28;
    gap: 16px;

    margin-bottom: 44px;
  }
}

.product-size {
  flex: 1;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notation {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  line-height: 1.16;

  margin-right: 4px;
}

.cart-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
@media only screen and (min-width: 768px) {
  .cart-price {
    font-size: 20px;
    line-height: 1.2;
  }
}

.order-container {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .order-container {
    margin-bottom: 100px;
  }
}

.order-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;

  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .order-title {
    font-size: 32px;
    line-height: 1;
  }
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: rgba(109, 132, 52, 0.05);
  border-radius: 8px;
  padding: 14px 18px;

  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .total-container {
    padding: 14px 28px;

    margin-bottom: 40px;
  }
}

.sub-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
@media only screen and (min-width: 768px) {
  .sub-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.total-price {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
}
@media only screen and (min-width: 768px) {
  .total-price {
    font-size: 32px;
    line-height: 1;
  }
}

.cart-form {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .cart-form {
    display: flex;
    gap: 16px;
  }
}

.input-container {
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);

  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .input-container {
    padding: 15px 20px;
    margin-bottom: 0;
    min-width: 359px;
    width: 100%;
  }
}
@media only screen and (min-width: 1272px) {
  .input-container {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
  }
}

.input-container:hover,
.input-container:focus-within {
  border: 1px solid #6d8434;
}

.input-container #email {
  color: #010101;
  line-height: 1.28;

  background-color: inherit;
  border: none;
  width: 88%;
}
.input-container #email:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .input-container #email {
    line-height: 1.33;
  }
}

#email,
#email::placeholder {
  color: var(--color-text);
  font-size: 14px;

  opacity: 1;
}
@media only screen and (min-width: 768px) {
  #email,
  #email::placeholder {
    font-size: 18px;
  }
}

.input-container .notation {
  font-size: 14px;
  line-height: 1.28;
}
@media only screen and (min-width: 768px) {
  .input-container .notation {
    font-size: 18px;
    line-height: 1.33;
  }
}

.order-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  padding: 12px 0;
  width: 100%;
  color: var(--color-btn-fill);
  background: var(--color-btn);
  border: none;
  border-radius: 30px;
}
@media only screen and (min-width: 768px) {
  .order-btn {
    font-size: 20px;
    line-height: 1.2;

    padding: 15px 65px;
    width: auto;
  }
}

/*===== COUNTER =====*/
.counter-container {
  display: flex;
  padding: 4px 14px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: fit-content;
  position: absolute;
  bottom: -6px;
  right: 7px;

  border-radius: 100px;
  border: 1px solid rgba(1, 1, 1, 0.1);
}
@media only screen and (min-width: 768px) {
  .counter-container {
    padding: 5px 16px;
    gap: 10px;
  }
}

.cart-list-item:not(:last-child) .counter-container {
  bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .cart-list-item:not(:last-child) .counter-container {
    bottom: 40px;
  }
}

.counter-container:hover {
  border: 1px solid #6d8434;
}

.counter-btn {
  background: none;
  font-size: 14px;
  color: #010101;
}
@media only screen and (min-width: 768px) {
  .counter-btn {
    font-size: 18px;
  }
}

.counter-btn:hover,
.counter-btn:focus {
  background-color: transparent;
}

.counter-value {
  color: #010101;
  font-size: 16px;
  line-height: 1.12;
}
@media only screen and (min-width: 768px) {
  .counter-value {
    font-size: 20px;
    line-height: 1.2;
  }
}

/*===== Empty Cart =====*/

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 0 120px;
}
@media only screen and (min-width: 768px) {
  .empty-cart {
    padding-top: 42px;
  }
}
@media only screen and (min-width: 1272px) {
  .empty-cart {
    padding-top: 68px;
  }
}

.empty-cart-img {
  margin-bottom: 28px;
}
@media only screen and (min-width: 768px) {
  .empty-cart-img {
    width: 164px;
    height: 140px;

    margin-bottom: 40px;
  }
}

.empty-cart-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;

  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .empty-cart-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.accent {
  color: #6d8434;
}

.empty-cart-descr {
  color: rgba(1, 1, 1, 0.7);
  width: 279px;
  font-size: 14px;
  line-height: 1.29;

  text-align: center;
}
@media only screen and (min-width: 768px) {
  .empty-cart-descr {
    width: 387px;
    font-size: 18px;
    line-height: 1.33;
  }
}

/*===== Success Modal =====*/
.backdrop-cart-modal > .container {
  min-width: 280px;
  max-width: 335px;
}

.backdrop-cart-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.4);
}

.backdrop-cart-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.success-modal {
  min-width: 280px;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 375px) {
  .success-modal {
    width: 335px;
  }
}

.order-success-window {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  height: auto;

  border-radius: 20px;
  background: var(--color-bckg);
  padding: 40px 20px 60px;

  position: relative;

  margin-left: auto;
  margin-right: auto;
}

.success-img {
  margin-bottom: 40px;
}

.success-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: auto;
  max-width: 295px;
}

.success-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  text-transform: uppercase;
}

.success-descr {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
}

.success-delete-btn {
  fill: var(--color-btn-up-fill);
  color: var(--color-btn-up-fill);
  background: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.success-delete-btn:hover,
.success-delete-btn:focus {
  background-color: transparent;
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .backdrop-cart-modal > .container {
    max-width: 600px;
  }
  .success-modal {
    width: 560px;
    height: 509px;
  }

  .success-text {
    max-width: 480px;
  }

  .success-title {
    font-size: 32px;
  }

  .success-descr {
    font-size: 18px;
  }
}
