.discount-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.discount-item {
  border-radius: 15px;
  background-color: var(--color-card-bckg);
  padding: 16px;
  position: relative;
}
.discount-img-box {
  border-radius: 10px;
  background-color: var(--color-bckg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.discount-img {
  max-width: 114px;
  max-height: 114px;
}
.discount-svg {
  position: absolute;
  top: 3px;
  right: 10px;
}
.discount-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.discount-txt-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount-title {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
}
.discount-txt {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
}
.price {
  align-self: flex-end;
}
.discount-btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: var(--color-btn);
  border: none;
  border-radius: 50%;
  fill: var(--color-btn-fill);
}
.discount-btn-buy:hover,
.discount-btn-buy:focus {
  background-color: var(--color-btn-active);
}

/* TABLET */
.discount-section {
  padding-top: 32px;
  padding-bottom: 50px;
}
.discount-products {
  width: 704px;
  column-gap: 32px;
}
.discount-item {
  width: 336px;
}

/* DESKTOP 1272*/
.discount-section {
  padding: 20px 0;
}
.discount-item {
  width: 275px;
}
.discount-svg {
  top: -3px;
}
.discount-img {
  max-width: 105px;
  max-height: 105px;
}
