.footer {
  margin-top: auto;
  background-color: #6d8434;
  padding: 40px 0 20px 0;
}

.footer-container {
  width: 100%;
}

.footer-logo-wrapper {
  margin: 0 auto;
}

.footer-logo-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.logo-circle {
  width: 28px;
  height: 28px;
  background-color: var(--color-bckg);
  padding: 6px;
  border-radius: 50%;
}

.logo-title {
  color: var(--color-bckg);
  font-family: var(--font-logo);
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.02em;
}

.footer-logo-icon {
  fill: var(--color-btn-small-fill);
  background-color: var(--color-bckg);
}

.footer-socials-wrapper {
  margin-top: 20px;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: rgba(232, 232, 226, 0.2);
}

.footer-social-icon {
  fill: var(--color-bckg);
}

.footer-slogan-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.footer-slogan-header {
  color: var(--color-bckg);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.footer-slogan-text {
  text-align: start;
  color: rgba(232, 232, 226, 0.7);
  font-weight: 400;
}

.footer-form-wrapper {
  margin-top: 80px;
}
.footer-form-text {
  color: var(--color-bckg);
  font-size: 14px;
  font-weight: 400;
}

.footer-form-label {
  width: 100%;
}

.footer-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-form-input {
  width: 100%;
  min-height: 42px;
  padding-left: 18px;
  padding-right: 12px;
  color: var(--color-bckg);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 30px;
  border: 1px solid var(--color-bckg);
  background-color: transparent;
  outline: none;
}

.footer-form-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-size: 16px;
  line-height: 1.5;
}

.footer-subscribe-btn {
  width: 100%;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  background-color: var(--color-btn-send);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  color: var(--color-btn-send-text-active);
  background-color: var(--color-btn-send);
}

.footer-agreement {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.footer-rights {
  color: var(--color-bckg);
  font-weight: 400;
}

.footer-privacy,
.footer-terms,
.terms-span {
  color: var(--color-bckg);
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-privacy:hover,
.footer-privacy:focus {
  color: var(--color-card-bckg);
}

.footer-terms:hover,
.footer-terms:focus {
  color: var(--color-card-bckg);
}

.terms-span {
  margin-right: 8px;
  margin-left: 8px;
}

/* TABLET */

@media only screen and (min-width: 768px) {
  .flex-tab-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
    gap: 78px;
  }

  .footer-logo-wrapper {
    width: 197px;
  }

  .logo-circle {
    width: 32px;
    height: 32px;
    padding: 6px;
  }

  .logo-title {
    font-size: 24px;
    line-height: 1;
  }

  .footer-logo-icon {
    width: 20px;
    height: 20px;
  }

  .footer-social-item {
    width: 44px;
    height: 44px;
  }

  .footer-slogan-wrapper {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-slogan-header {
    color: var(--color-bckg);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  .footer-slogan-text {
    text-align: start;
    color: rgba(232, 232, 226, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.13;
  }

  .footer-form-wrapper {
    margin-top: 64px;
  }
  .footer-form-text {
    font-size: 18px;
    line-height: 1.3;
  }

  .footer-form {
    gap: 20px;
  }

  .footer-form-input {
    width: 336px;
    min-height: 48px;
  }
  .footer-subscribe-btn {
    width: 336px;
    height: 48px;
    padding: 12px 149px;
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-agreement {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* DESKTOP 1272*/
@media only screen and (min-width: 1272px) {
  .footer-container {
    padding: 0 16px;
  }

  .flex-tab-footer {
    gap: 149px;
  }

  .footer-slogan-wrapper {
    width: 410px;
  }

  .right-tab-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 148px;
  }

  .footer-form-wrapper {
    margin-top: 0px;
  }
  .footer-agreement {
    margin-top: 128px;
  }
}
