/* mobile */
.logo {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.boutique-logo {
  color: var(--color-text);
  font-family: var(--font-logo);
  letter-spacing: -.02em;
  font-size: 18px;
  line-height: 1.11;
}

.header-box {
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header_home {
  background-color: var(--color-btn);
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  cursor: pointer;
  color: var(--color-bckg);
  width: 77px;
  height: 38px;
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  transition: background-color var(--animation-duration) var(--timing-function);
}

.header_home:hover,
.header_home:focus {
  background-color: var(--color-btn-active);
}

.header_buy {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 38px;
}

.header-cart {
  display: none;
}

.header-logo-svg {
  width: 28px;
  height: 28px;
}

.icon-cart-header {
  fill: var(--color-btn);
  transition: fill var(--animation-duration) var(--timing-function);
}

.icon-cart-header:hover,
.icon-cart-header:focus {
  fill: var(--color-btn-active);
}

/* tablet */
@media only screen and (width >=768px) {
  .header-cart {
    display: flex;
    align-items: center;
    color: #010101;
    font-family: 'Neue Montreal';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 14px;
  }

  .header_home {
    width: 104px;
    height: 48px;
  }

  .boutique-logo {
    font-size: 24px;
    font-weight: 900;
  }

  .header-logo-svg {
    width: 32px;
    height: 32px;
  }
}


/* @media only screen and (width >=1272px) {

} */