/* MOBILE */

.hero-section {
  margin-top: 32px;
}

.hero-title {
  font-family: Neue Montreal;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  /* 109.091% */
  letter-spacing: -0.88px;
  text-align: center;
}

.hero-title>span {
  color: #6D8434;
}

.hero-text {
  padding: 16px 21.5px;
  color: rgba(1, 1, 1, 0.80);

  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.hero-wrapper-img {
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  margin-top: 16px;
  position: relative;
}

.courses-icon {
  right: 8px;
  top: -7px;
  position: absolute;
}

.hero-working-out {
  border-radius: 30px;
  object-fit: cover;
  width: 100%;
}

.hero-mark {
  position: absolute;
  top: -14px;
  right: 20px;
  padding: 8px;
  flex-shrink: 0;
}

/* TABLET  */
@media only screen and (min-width: 768px) {
  .section.hero-section {
    margin-top: 74px;
  }

  .hero-title {
    font-family: Neue Montreal;
    font-size: 80px;
    line-height: 80px;
    /* 100% */
    letter-spacing: -1.6px;
  }

  .hero-text {
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    margin: 20px 106px;
    padding: 0;
  }

  .hero-wrapper-img {
    height: 580px;
    margin-top: 40px;
    max-width: initial;
  }

  .hero-working-out {
    border-radius: 60px;
  }

  .hero-mark {
    top: -40px;
    right: 35px;
  }

  .courses-icon {
    right: 10px;
    top: -30px;
    position: absolute;
  }
}

@media only screen and (width: 1024px) {
  .hero-mark {
    top: -60px;
    right: 15%;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1272px) {
  .section.hero-section {
    margin-top: 10px;
  }

  .hero-title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.6px;
  }

  .hero-text {
    margin: 20px 374px;
  }

  .hero-wrapper-img {
    height: 350px;
  }

  .hero-mark {
    top: -60px;
    right: 112px;
  }

  .courses-icon {
    right: 20px;
    top: -50px;
  }
}