.hero-section,
.hero-wrapper-text {}

.hero-wrapper-text {
  margin: 0 auto;
  padding: 0;
}

.hero-title {
  font-family: Neue Montreal;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  /* 100% */
  letter-spacing: -1.6px;
  margin: 0 auto;
  text-align: center;
}

.hero-title>span {
  color: #6D8434;
}

.hero-text {
  padding-top: 20px;
  color: rgba(1, 1, 1, 0.80);

  text-align: center;
  font-family: Neue Montreal;
  font-size: .87rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  /* 133.333% */
}

.hero-wrapper-img {
  width: 100%;
  height: 580px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  margin-top: 40px;
  position: relative;
}

.hero-working-out {
  border-radius: 60px;
  object-fit: cover;
}

.hero-mark {
  position: absolute;
  top: -52px;
  right: 30px;
  width: 100px;
height: 100px;
flex-shrink: 0;
}