/* MOBILE */
.container.hero-wrapper-img {
  padding: 0;
}

.hero-section {
  margin-top: 26px;
}

.hero-title {
  font-family: Neue Montreal;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  /* 109.091% */
  letter-spacing: -0.88px;
  text-align: center;
}

.hero-title>span {
  color: #6D8434;
}

.hero-text {
  padding: 16px 21.5px;
  color: rgba(1, 1, 1, 0.80);

  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
}

.hero-wrapper-img {
  width: 335px;
  /* height: 480px; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  margin-top: 16px;
  position: relative;
}

.hero-working-out {
  border-radius: 30px;
  object-fit: cover;
  width: 100%;
}

.hero-mark {
  position: absolute;
  top: -6px;
  right: 27px;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

/* TABLET  */
@media only screen and (min-width: 768px) {
  .section.hero-section {
    margin-top: 74px;
  }

  .hero-title {
    font-family: Neue Montreal;
    font-size: 80px;
    line-height: 80px;
    /* 100% */
    letter-spacing: -1.6px;
  }

  .hero-text {
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    margin: 20px 106px;
    padding: 0;
  }

  .hero-wrapper-img {
    width: 704px;
    height: 580px;
    margin-top: 40px;
  }

  .hero-working-out {
    border-radius: 60px;
  }

  .hero-mark {
    top: -30px;
    right: 10px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1272px) {}