.tui-pagination {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

#pagination>.tui-page-btn.tui-first,
#pagination>.tui-page-btn.tui-last {
  display: none;
}

#pagination.tui-pagination>.tui-page-btn {
  border: none;
  height: 34px;
  width: 34px;
  line-height: 20px;
}

#pagination .tui-is-selected {
  border-radius: 50%;
  background-color: #6D8434;
  color: #FAFAFA;
  border: none;
}

#pagination.tui-pagination>.tui-page-btn.tui-next,
#pagination.tui-pagination>.tui-page-btn.tui-prev {
  border-radius: 50%;
  background-color: #FAFAFA;
  line-height: 34px;
  color: #A3A3A3;
}

@media only screen and (min-width: 768px) {
  #pagination {
    display: flex;
    width: 472px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1272px) {
  #pagination {
    width: 472px;
    position: absolute;
    /* margin: 50px; */
    padding: 40px;
    bottom: -40px;
    /* or 
    position: fixed;
    bottom: 302px;
    left: 30%; */
  }
}