.popular-title {
  color: var(--color-btn-cancel-active);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;

  margin-bottom: 20px;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
}

.popular-item {
  cursor: pointer;
  display: flex;
  position: relative;
  width: 100%;
  height: 98px;

  border-radius: 10px;
  background: var(--color-card-bckg);

  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 12px;
}

.popular-product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--color-bckg);

  margin-right: 10px;
}

.popular-item-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.popular-info-title {
  color: var(--color-btn-cancel-active);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 12px;
}

.popular-accent {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.popular-category {
  color: var(--color-btn-cancel-active);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 9px;
}

.popular-info-descr {
  color: var(--color-btn-cancel-active);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: var(--color-bckg);
  fill: var(--color-btn);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-btn:hover,
.cart-btn:focus {
  background-color: var(--color-btn);
  fill: var(--color-bckg);
}

.cart-btn:disabled {
  background-color: var(--color-bckg);
  fill: var(--color-btn);
}

@media only screen and (min-width: 768px) {
  .desktop-section {
    padding: 50px 0 32px;
  }
  .popular-title {
    font-size: 28px;
  }
  .popular-item {
    width: 275px;
  }

  .popular-item.is-hidden {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1271px) {
  .popular-item:nth-child(n + 3) {
    display: none;
  }
}

/* DESKTOP 1272*/
@media only screen and (min-width: 1272px) {
  .section.desktop-section {
    width: 275px;
    padding: 0 0 20px;
  }

  .popular-item.is-not-hidden {
    display: flex;
  }

  .popular-list {
    flex-direction: column;
    align-items: start;
    gap: 13px;
  }
}
