<section class="section discount-section">
    <h2 class="discount-title">Discount products</h2>
    <ul class="discount-products js-discount-products">
        <!-- <li class="discount-item" data-product-id='${id}'>
            <div class="discount-img-box">
                <img class="discount-img" src="./images/common/product.webp" alt="Blueberries">
                <svg class="discount-svg" width="60" height="60">
                    <use href="./icons/icons.svg#icon-discount"></use>
                </svg>
            </div>
            <div class="discount-bottom">
                <p class="discount-txt">Blueberries</p>
                <p class="discount-txt discount-price">$3.99</p>
                <button class='discount-btn-buy' type='button'>
                    <svg width='18' height='18'>
                        <use href='./icons/icons.svg#icon-cart' />
                    </svg>
                </button>
            </div>
        </li>
        <li class="discount-item" data-product-id='${id}'>
            <div class="discount-img-box">
                <img class="discount-img" src="./images/common/product.webp" alt="Blueberries">
                <svg class="discount-svg" width="60" height="60">
                    <use href="./icons/icons.svg#icon-discount"></use>
                </svg>
            </div>
            <div class="discount-bottom">
                <p class="discount-txt">Blueberries</p>
                <p class="discount-txt discount-price">$3.99</p>
                <button class='discount-btn-buy' type='button'>
                    <svg width='18' height='18'>
                        <use href='./icons/icons.svg#icon-cart' />
                    </svg>
                </button>
            </div>
        </li> -->
    </ul>
</section>