<section class="section filters">
   <div class="filters-block container">
        <label class="filters-label" for="search">Filters:</label>
        <form class="filters-form-search" action="/filters-block" method="get">
            <div class="search-container">
                <input class="search" type="text" id="search" name="search" placeholder="Search for anything">
                <button type="submit" class="search-button">
                    <svg class="search-form__icon" width="20" height="20">
                        <use href="./icons/icons.svg#icon-search"></use>
                    </svg>
                </button>
            </div>
            <!-- Categories Dropdown -->
            <select class="categories-search" name="categories" id="categories">
                    <option value="" disabled selected>Categories</option>
                    <option value="beverages">Beverages</option>
                    <option value="breads-bakery">Breads / Bakery</option>
                    <option value="dairy">Dairy</option>
                    <option value="deli">Deli</option>
                    <option value="eggs">Eggs</option>
                    <option value="fresh-produce"> Fresh Produce</option>
                    <option value="meat-&-seafood">Meat & Seafood</option>
                    <option value="pantry-items">Pantry Items</option>
                    <option value="prepared-foods">Prepared Foods</option>
                    <option value="snacks">Snacks</option>
                    <option value="show-all">Show all</option>
            </select>
        </form>
    </div>
    <!-- Sort By -->
    <div class="sort-block container">
        <select class="sort-block-select" name="sort-by" id="sort-by">
            <option value="a-to-z">A to Z</option>
            <option value="z-to-a">Z to A</option>
            <option value="cheap">Cheap</option>
            <option value="expensive">Expensive</option>
            <option value="popular">Popular</option> 
            <option value="not-popular">Not popular</option>
            <option value="show-all">Show all</option>
        </select>
    </div>
</section>
