<footer class="footer section">
  <div class="footer-container container">
    <div class="flex-tab-footer">
      <div class="left-tab-wrapper">
        <div class="footer-logo-wrapper">
          <a href="/src/index.html" class="footer-logo-link link">
            <span class="logo-circle"
              ><svg class="footer-logo-icon" width="16" height="16">
                <use href="./icons/icons.svg#icon-logo"></use>
              </svg>
            </span>
            <p class="logo-title">Food Boutique</p>
          </a>
        </div>

        <div class="footer-socials-wrapper">
          <ul class="footer-socials-list list">
            <li class="footer-social-item">
              <a
                href="https://www.facebook.com/goITclub/ "
                class="footer-social-link link"
                target="_blank"
                aria-label="Link to Facebook"
                rel="noopener noreferrer"
              >
                <svg class="footer-social-icon" width="24" height="24">
                  <use href="./icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                href="https://www.instagram.com/goitclub/ "
                class="footer-social-link link"
                target="_blank"
                aria-label="Link to Instagram"
                rel="noopener noreferrer"
              >
                <svg class="footer-social-icon" width="24" height="24">
                  <use href="./icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-social-link link"
                target="_blank"
                aria-label="Link to Youtube"
                rel="noopener noreferrer"
              >
                <svg class="footer-social-icon" width="24" height="24">
                  <use href="./icons/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="right-tab-wrapper">
        <div class="footer-slogan-wrapper">
          <h2 class="footer-slogan-header">
            Discover the Variety of Flavors and Quality
          </h2>
          <p class="footer-slogan-text">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>

        <div class="footer-form-wrapper">
          <p class="footer-form-text">
            Subscribe and learn about new products!
          </p>
          <form class="footer-form" name="submit-form">
            <label class="footer-form-label">
              <input
                class="footer-form-input"
                type="email"
                name="userEmail"
                id="subscriber-email"
                placeholder="E-mail"
                pattern="[a-z0-9._%+\-]{2,}@[a-z0-9.\-]+\.[a-z]{2,}"
                title="valid@email.com"
                required
              />
            </label>
            <button class="footer-subscribe-btn" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-agreement">
      <div class="footer-rights-wrapper">
        <p class="footer-rights">Food Boutique. All rights reserved.</p>
      </div>

      <div class="footer-privacy-wrapper">
        <a
          href="#"
          class="footer-privacy"
          target="_blank"
          rel="noopener noreferrer"
          >Privacy Policy</a
        >
        <span class="terms-span">/</span>
        <a
          href="#"
          class="footer-terms"
          target="_blank"
          rel="noopener noreferrer"
        >
          Terms of Service</a
        >
      </div>
    </div>
  </div>
</footer>
