<header>
  <div class="container">
    <div class="header-box">
      <a href="./index.html" class="logo">
        <svg class="header-logo-svg">
          <use href="./icons/icons.svg#icon-icon-logo"></use>
        </svg>
        <span class="boutique-logo">Food Boutique</span>
      </a>
      <div class="button-box">
        <a href="./index.html" class="header_home">Home</a>
        <a href="./cart.html" class="header_buy" aria-label="CART ( 0 )">
          <svg width="38" height="38" class="icon-cart-header">
            <use href="./icons/icons.svg#icon-cart-header"></use>
          </svg>
          <p class="header-cart">
            Cart (<span class="header-cart-span">0</span>)
          </p>
        </a>
      </div>
    </div>
  </div>
</header>