
<section class="section hero-section">
  <div class="container hero-wrapper-text">
    <h1 class="hero-title">Welcome to the <span class="hero-food">Food</span> Boutique!</h1>
    <p class="hero-text">With Food Boutique, you're not just subscribing to food, you're signing up for a fresher,
      fitter, and happier
      you.</p>
  </div>
  <div class="container hero-wrapper-img">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="./images/hero/hero-mob.webp 1x, ./images/hero/hero-mob@2x.webp 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/hero/hero-tablet.webp 1x, ./images/hero/hero-tablet@2x.webp 2x"
      />
      <img
        class="hero-working-out"
        src="./images/hero/hero-mob.webp"
        alt="women-sportswear-working-out-outdoors 1"
        width="704"
        height="580"
        loading="lazy">
    </picture>
    <img class="hero-mark" src="./images/hero/organic-food.png" alt="organic-food">
  </div>
</section>