<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-btn button" type="button" data-modal-close>
      <svg class="modal-close-icon" width="22" height="22">
        <use href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <img src="./images/cart/success.webp" alt="image of chosen product" class="modal-img">
    <div class="product-info">
        <h3 class="product-name">Pumpkin</h3>
        <ul class="product-info-list">
            <li class="product-info-item">Category: <span class="info-item-text">Fresh Produce</span></li>
            <li class="product-info-item">Size: <span class="info-item-text">1 medium-sized</span></li>
            <li class="product-info-item">Popularity: <span class="info-item-text">0</span></li>
        </ul>
    </div>
    <p class="product-description">A round, orange vegetable with a thick shell and seeds inside. It is often used in cooking and baking for its sweet and earthy flavor.</p>
<div class="cart-container">
    <p class="product-price">$2.99</p>
          <button class="modal-cart-btn" type="submit">Add to <svg class="cart-icon" width="18" height="18">
            <use href="./icons/icons.svg#icon-cart"></use>
          </svg></button>
</div>
    </form>
  </div>
</div>
