<div class="backdrop-modal is-hidden" data-modal>
  <!-- <div class="modal container" data-product-id="1">
    <button class="modal-close-btn button" type="button" data-modal-close>
      <svg class="modal-close-icon" width="22" height="22">
        <use href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-card">
      <img
        src="./images/cart/success.webp"
        alt="image of chosen product"
        class="modal-img"
      />
      <div class="product-info">
        <h2 class="modal-product-name">Pumpkin</h2>
        <ul class="product-info-list">
          <li class="product-info-item">
            Category: <span class="info-item-text">Fresh Produce</span>
          </li>
          <li class="product-info-item">
            Size: <span class="info-item-text">1 medium-sized</span>
          </li>
          <li class="product-info-item">
            Popularity: <span class="info-item-text">0</span>
          </li>
        </ul>
        <p class="product-description">
          A round, orange vegetable with a thick shell and seeds inside. It is
          often used in cooking and baking for its sweet and earthy flavor.
        </p>
      </div>
    </div>
    <div class="cart-modal-container">
      <p class="product-price">$2.99</p>
      <button class="modal-cart-btn" type="button">
        Add to
        <svg class="cart-modal-icon" width="18" height="18">
          <use href="./icons/icons.svg#icon-cart"></use>
        </svg>
      </button>
    </div>
  </div> -->

  <p class='loader is-hidden'></p>
</div>
