<section class="section desktop-section" id="popular-products-list">
  <div class="container desktop-container">
    <h2 class="popular-title">Popular products</h2>
    <ul class="popular-list">
      <li class="popular-item">
        <div class="popular-product-img">
          <img
            src="./images/common/product.webp"
            alt=""
            width="56"
            height="56"
          />
        </div>
        <button class="cart-btn" type="button">
          <svg width="12" height="12">
            <use href="./icons/icons.svg#icon-cart"></use>
          </svg>
        </button>
        <div class="popular-item-info">
          <h3 class="popular-info-title">Ackee</h3>
          <p class="popular-category">
            <span class="popular-accent">Category:</span> Fresh Produce
          </p>
          <p class="popular-info-descr">
            <span class="popular-accent">Size:</span>16 oz
            <span class="popular-accent">Popularity:</span> 3
          </p>
        </div>
      </li>
      <li class="popular-item">
        <div class="popular-product-img">
          <img
            src="./images/common/product.webp"
            alt=""
            width="56"
            height="56"
          />
        </div>
        <button class="cart-btn" type="button">
          <svg width="12" height="12">
            <use href="./icons/icons.svg#icon-cart"></use>
          </svg>
        </button>
        <div class="popular-item-info">
          <h3 class="popular-info-title">Chicken</h3>
          <p class="popular-category">
            <span class="popular-accent">Category:</span> Meat & Seafood
          </p>
          <p class="popular-info-descr">
            <span class="popular-accent">Size:</span>16 oz
            <span class="popular-accent">Popularity:</span> 3
          </p>
        </div>
      </li>
      <li class="popular-item is-hidden is-not-hidden">
        <div class="popular-product-img">
          <img
            src="./images/common/product.webp"
            alt=""
            width="56"
            height="56"
          />
        </div>
        <button class="cart-btn" type="button">
          <svg width="12" height="12">
            <use href="./icons/icons.svg#icon-cart"></use>
          </svg>
        </button>
        <div class="popular-item-info">
          <h3 class="popular-info-title">Salmon</h3>
          <p class="popular-category">
            <span class="popular-accent">Category:</span> Meat & Seafood
          </p>
          <p class="popular-info-descr">
            <span class="popular-accent">Size:</span>16 oz
            <span class="popular-accent">Popularity:</span> 3
          </p>
        </div>
      </li>
      <li class="popular-item is-hidden is-not-hidden">
        <div class="popular-product-img">
          <img
            src="./images/common/product.webp"
            alt=""
            width="56"
            height="56"
          />
        </div>
        <button class="cart-btn" type="button">
          <svg width="12" height="12">
            <use href="./icons/icons.svg#icon-cart"></use>
          </svg>
        </button>
        <div class="popular-item-info">
          <h3 class="popular-info-title">Allspice</h3>
          <p class="popular-category">
            <span class="popular-accent">Category:</span> Pantry Items
          </p>
          <p class="popular-info-descr">
            <span class="popular-accent">Size:</span>16 oz
            <span class="popular-accent">Popularity:</span> 3
          </p>
        </div>
      </li>
      <li class="popular-item is-hidden is-not-hidden">
        <div class="popular-product-img">
          <img
            src="./images/common/product.webp"
            alt=""
            width="56"
            height="56"
          />
        </div>
        <button class="cart-btn" type="button">
          <svg width="12" height="12">
            <use href="./icons/icons.svg#icon-cart"></use>
          </svg>
        </button>
        <div class="popular-item-info">
          <h3 class="popular-info-title">Beef</h3>
          <p class="popular-category">
            <span class="popular-accent">Category:</span> Meat & Seafood
          </p>
          <p class="popular-info-descr">
            <span class="popular-accent">Size:</span>16 oz
            <span class="popular-accent">Popularity:</span> 3
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
