<section class='section' id='products-list'>
  <h2 class='visually-hidden'>List of products</h2>
  <div class='nothing-found visually-hidden'>
    <img class='nothing-found-img' src='./images/common/found_nothing.webp' alt='Confused carrot' width='150'
      loading='lazy' />
    <p class='nothing-found-message'>We are sorry, but nothing was found!</p>
  </div>

  <ul class='products-list'>


    <li class='product-item' data-product-id='1'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='Blueberries' width='140' height='140' loading='lazy' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
      <svg class='product-discount' width='60' height='60'>
        <use href='./icons/icons.svg#icon-discount' />
      </svg>
    </li>


    <li class='product-item' data-product-id='2'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='' width='140' height='140' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
    </li>
    <li class='product-item' data-product-id='3'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='' width='140' height='140' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
    </li>
    <li class='product-item' data-product-id='4'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='' width='140' height='140' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
    </li>
    <li class='product-item' data-product-id='5'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='' width='140' height='140' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
    </li>
    <li class='product-item' data-product-id='6'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='' width='140' height='140' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
    </li>
    <li class='product-item tablet' data-product-id='7'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='' width='140' height='140' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
    </li>
    <li class='product-item tablet' data-product-id='8'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='' width='140' height='140' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
    </li>
    <li class='product-item desktop' data-product-id='9'>
      <div class='product-img-container'>
        <img src='./images/common/product.webp' alt='' width='140' height='140' />
      </div>
      <h3 class='product-name'>Blueberries</h3>
      <ul class='product-props'>
        <li class='prop'>
          <span class='prop-name'>Category:</span>
          <span class='prop-value'>Fresh Produce</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Size:</span>
          <span class='prop-value'>6 oz</span>
        </li>
        <li class='prop'>
          <span class='prop-name'>Popularity:</span>
          <span class='prop-value'>0</span>
        </li>
      </ul>
      <div class='product-buy-container'>
        <p class='price'>$3.99</p>
        <button class='btn-buy' type='button'>
          <svg width='18' height='18'>
            <use href='./icons/icons.svg#icon-cart' />
          </svg>
        </button>
      </div>
    </li>


  </ul>
</section>